*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	background-color: white;
}
h2{
	font-size: 18px;
	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 3px 3px #3A80A0;
}
h3{color: rgba(0, 147, 255, 0.84);}
#site{
	margin: 0 auto;
	height: 100%;
}
.wrapper{
	min-height:730px;
}
.main_conteiner{
	margin-bottom:20px; 
}
.head_left, .left, .side_left, .main_bottom_left{float: left;}

.right, .side_right, .main_bottom_right{float: right;}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.head_top, footer, h2{
background: rgba(18,144,222,0.81);
background: -moz-linear-gradient(top, rgba(18,144,222,0.81) 0%, rgba(31,104,199,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,144,222,0.81)), color-stop(100%, rgba(31,104,199,1)));
background: -webkit-linear-gradient(top, rgba(18,144,222,0.81) 0%, rgba(31,104,199,1) 100%);
}
.left, .right, .head_right_bottom{
	color: white;
	border-radius: 5px;
	background-color: #49b0ff;
	font-size: 14px;
	box-shadow: 0 3px 3px #3A80A0 inset;
	padding: 10px;
}
.left{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.head_right{
	float: right;
	width: 900px;
	margin: 85px 20px 0 0;
}
.head_left{
	width: 280px;
}
.head_left img{width: 250px;}
.head_right_bottom{
	margin: 20px 0;
	font-weight: 100px;
}
.menu{float: left;}
.menu li{
	float: left;
    padding: 6px;
    margin-top: 1px;
    border-top: 2px solid #6ab8fa;
    border-right: 2px solid #6ab8fa;
}
.menu li a:hover{text-decoration: none;}
.menu li:hover{ 
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(154,195,218,1)), color-stop(50%, rgba(147,197,225,1)), color-stop(51%, rgba(111,178,220,1)), color-stop(100%, rgba(108,170,208,1)));
	background: -webkit-linear-gradient(top, rgba(154,195,218,1) 0%, rgba(147,197,225,1) 50%, rgba(111,178,220,1) 51%, rgba(108,170,208,1) 100%);
	background: -o-linear-gradient(top, rgba(154,195,218,1) 0%, rgba(147,197,225,1) 50%, rgba(111,178,220,1) 51%, rgba(108,170,208,1) 100%);
	background: -ms-linear-gradient(top, rgba(154,195,218,1) 0%, rgba(147,197,225,1) 50%, rgba(111,178,220,1) 51%, rgba(108,170,208,1) 100%);
	background: linear-gradient(to bottom, rgba(154,195,218,1) 0%, rgba(147,197,225,1) 50%, rgba(111,178,220,1) 51%, rgba(108,170,208,1) 100%);
}
.head_bottom{
	background: rgba(140,213,252,1);
	background: -moz-linear-gradient(top, rgba(140,213,252,1) 0%, rgba(127,206,251,1) 50%, rgba(84,189,255,1) 51%, rgba(70,183,253,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(140,213,252,1)), color-stop(50%, rgba(127,206,251,1)), color-stop(51%, rgba(84,189,255,1)), color-stop(100%, rgba(70,183,253,1)));
	background: -webkit-linear-gradient(top, rgba(140,213,252,1) 0%, rgba(127,206,251,1) 50%, rgba(84,189,255,1) 51%, rgba(70,183,253,1) 100%);
	background: -o-linear-gradient(top, rgba(140,213,252,1) 0%, rgba(127,206,251,1) 50%, rgba(84,189,255,1) 51%, rgba(70,183,253,1) 100%);
}
.menu li a{
	color: #fff;
	text-decoration: none;
    margin: 0 40px;
}
.menu li a:first-child{
	margin-left: 0;
}
.side_left{
	width: 250px;
	padding: 0 0 1px 0;
	font-family: 'Trebuchet MS', 'Lucida Grande',
	Verdana, Lucida, Geneva, Helvetica,
	Arial, sans-serif;
}
.side_left li {
      border-bottom: 2px solid #90bade;
}
.side_left li a {
      display: block;
      padding: 5px;
      border-left: 10px solid #36A0F1;
      border-right: 10px solid #62B0D2;
      color: #fff;
      text-decoration: none;
      width: auto;
}
.side_left li a:hover {
      border-left: 10px solid #638CCA;
      border-right: 10px solid #5FC5E0;
      background-color: #73B6D4;
      color: #fff;
}
.side_right{width: 220px;}
.side_left, .form_1, .form_2{
	background-color: #49b0ff;
	border: 3px solid #9acefc;
	color: white;
	border-radius: 5px;
	font-size: 16px;
}
main{
	margin: 20px 220px 0 260px;
	padding: 0 15px;
	text-align: justify;
}
main p{color: #128277;}

.main_bottom_left, .main_bottom_right{
	width: 343px;
	padding: 10px;
	box-sizing:border-box;
	text-align: justify;
}
.main_bottom{
	width: 690px;
	background-color: #c3e5ff;
	border: 2px solid #b7dcf7;
	color: #128277;
	border-radius: 5px;
	font-size: 16px;
}
.main_bottom_left{border-right: 2px solid #b7dcf7;}
.form_1, .form_2 {
	margin-bottom: 25px;
}
.form_2 label{
	display: block;
}
.form_1{padding: 10px;}

input[type=radio]{margin-right: 10px;}

.form_2 p{
	margin: 5px;
	padding-top: 5px;
}
button{
	font-size: 15px;
    color: white;
    background-color: #2d83ca;
    border: none;
    padding: 3px;
    margin: 20px 2px 10px 4px;
}
.form_1 input{
	font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
    border: 1px solid #9acefc;
    border-radius: 5px;
    box-shadow: 0 3px 3px #3A80A0 inset;
    text-align: center;
    padding-top: 3px;
    color: #128277;
}
.form_1 button{
	margin: 10px 45px;
    width: 80px;
}
.form_2{padding: 5px;}

footer{
    color: #fff;
    padding: 14px;
    margin: 0 auto;
}